.initial{
    padding: 0 10px;
}
.logo-header {
    height: 25rem!important;
    
    margin-top: 5px;
    margin-bottom: 5px;
  }
.card-title{
    color: #212529;
    font-size: 18px;
  }

.pro-list-table{
    margin: 10px 15px;
  }
  .table td, .table th{
    vertical-align: middle !important;
  }
  .top_listing {
    font-size: 14px;
    color: #78848c;
   
    height: 60px;
    font-weight: normal;
  }
  .top_listing_top_order {
    font-size: 14px;
    color: #78848c;
   
    height: 80px;
    font-weight: normal;
  }
  .pro-list-table th, tr {
    font-size: 14px;
    color: #78848c;
    border: 0 !important;
    height: 60px;
    text-transform: uppercase;
    font-weight: normal;
  }
  .pro-list-table .tutuorial_name{
    color: #02a89a;
  
    cursor: pointer;
  }
  .pro-list-table .active{
    color: #378f3d;
  }
  .pro-list-table .inactive{
    color: #d60525;
  }
  .pro-list-table tr{
    border: dotted 2px transparent;
    border-bottom: solid 2px #ccc;
  }
  .pro-list-table tbody tr:hover{
    background-color:rgba(231, 29, 54, 0.05);
    border: dotted 2px #d60525;
  }
  .list_item {
    position: relative;
    display: block;
    padding: .75rem 1.25rem;
    background-color: #fff;
    border-bottom: 1px solid rgba(0,0,0,.125);
}

