/* Color Variables */


/* Standard Colors */
$white: #fff !default;
$black: #000 !default;


/* New Colors */

$swift-primary: #02A89A;
$swift-teal-lite: #9cdac9;
$swift-white: #fafafa;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$gray-1000: #C8C8C8 !default;
$blue : #44c2e9 !default;
$yellow: #fed136 !default;
$primary: #44c2e9 !default;
$card-border: #d2dade !default;
$teal: rgba(92, 183, 158, 0.2);