.product-info-page{padding:0 30px;width:100%;}
.heading-row{display:flex;justify-content:space-between;margin-bottom:5px;}
.product-edit-box{border:1px solid #ccc;margin:15px 0;border-radius:6px;}
.pro-info-body{padding:15px;}
.map-pro-link{color:#00ab9a;text-decoration:underline;font-family:'Open Sans' !important;}
.edit-r{margin-left:auto;display:flex;align-items:center;}
.conf-pending-row{font-size:14px;font-family:'Open Sans';color:#000000;margin:0 20px;}
.img-main{
border-radius: 4px;
border: 1px solid #ccc;
display: flex;
justify-content: center;
align-items: center;
padding: 15px;
}
.img-main img{
max-width: 100%;
}
.img-child{
display: flex;
flex: 1;
margin: 0 5px;
padding: 10px;
border-radius: 4px;
border: 1px solid #ccc;
background: #eee;
}
.img-child img{
max-width: 100%!important;
}
.cust-m{margin:10px -5px !important;}
.tab-varient-row{margin:30px 0;}
.tab-varient-row .nav{border-bottom:1px solid #ccc;}
.tab-varient-row ul li a{border-bottom:6px solid transparent;color:#545252;font-size:20px;padding:10px 0;font-family:'Montserrat-Regular';}
.tab-varient-row ul li{padding:15px 0;margin-right:50px;}
.tab-varient-row ul li a:hover{text-decoration:none;}
.tab-varient-row ul li a.active{border-bottom:6px solid #2ec4b6;}
.pro-grid{border:2px solid #ccc;border-radius:4px;padding:20px;margin:1rem 0;text-align:center;position:relative;}
.pro-main-title{color:#1c223a;font-size:16px;font-weight:600;margin-top:1rem;}
.pro-subinfo{font-size:16px;color:#333;margin:0.5rem 0;font-family:'Open Sans';}
.pro-price{font-size:14px;color:#1c223a;font-weight:600;margin-top:0.5rem;}
.inventry{font-size:12px;color:#333;height:20px;font-family:'Open Sans';}
.unable-badge{background-color:#d5f3f0;;color:#333;font-size:11px;padding:2px 5px;width:50%;margin:10px auto;}
.dissable-badge{background-color:rgba(224, 32, 32, 0.25);color:#333;font-size:11px;padding:2px 5px;width:50%;margin:10px auto;}
.add-pr-link{border-radius:4px;background:#fafafa;border:2px dotted #2ec4b6;height:90%;display:flex;justify-content:center;align-items:center;}
.add-pr-link a span{display:flex;}
.dot-click{position:absolute;right:0;top:0;}
.dot-drop-box{width:200px !important;left:21px !important;top:-27px !important;margin-left:-9px !important;height:100px;box-shadow:0 -2px 15px 0 rgba(197, 197, 197, 0.8);background-color:#fff;border:0 !important;border-radius:0 !important;padding:20px !important;position:relative;}
.dot-drop-box:after{content:'';border-bottom:5px solid transparent;border-right:10px solid #fff;border-top:5px solid transparent;position:absolute;left:-10px;top:5px;}
.head-title{font-size:22px;color:#3e3e3e;font-weight:500;font-family:'Montserrat-Regular'!important;}
.product-edit-head{color:#696867;font-size:20px;font-weight:500;padding:15px;display:flex;align-items:center;border-bottom:1px solid #ccc;}
.product-edit-head span{color:#45d7cd;font-size:20px;font-weight:500;}
.txt-btn{color:#02a89a;font-size:22px;}
.in-process{color:#f16321 !important;}
.sub-title{font-size:20px;margin-top:15px;color:#000;font-family:'Montserrat-Regular'!important;}
/*breadcrmb*/.pro-ids{font-size:16px;color:#ababab;font-family:'Montserrat-Regular'!important;}
.pro-info{font-size:16px;color:#000;font-family:'Open Sans' !important;}
ol.breadcrumb{background:transparent;}
ol.breadcrumb li a, .blue-colr{color:#2EC4B6!important;}
.breadcrumb-item + .breadcrumb-item::before{content:">";}
h4.main-tile.font-pop.mb-1{font-size:18px;}
p.sub-title{font-size:14px;}
.locationTxt{padding:15px;line-height:35px;font-family:'Montserrat-Regular'!important;font-weight:500;font-size:15px;color:#01C1B7;letter-spacing:0;}
.locationTxt a, .locationTxt a:hover{color:#01C1B7;text-decoration:underline;padding-right:10px;}
.form-check label{font-size:16px;font-weight:300;}
.font-pop{font-family:'Montserrat-Regular'!important;font-weight:normal;}
.inactive-txt, .inactive-txt:hover{color:#d11a2a;}
.active-txt, .active-txt:hover{color:#378f3d;}
button.btn.btn-link span img.down-arrow{display:none;}
button.btn.btn-link span img.up-arrow{display:block;}
button.btn.btn-link.collapsed span img.up-arrow{display:none;}
button.btn.btn-link.collapsed span img.down-arrow{display:block;}
span.main-right-arrow{float:right;margin-top:.5em;margin-left:1.2em;}
.locationTxt a, .locationTxt a:hover{color:#01C1B7;text-decoration:underline;padding-right:10px;}
.form-check{padding-left:1.5rem;margin-bottom:1em;}
.main-accordian-form label.change-sty{font-family:'Montserrat-Regular'!important;font-weight:500;font-size:18px;color:#1C223A;margin:0px;}
.typingHint{font-family:'Montserrat-Regular'!important;font-weight:400;font-size:16px;color:#333;}
.card-body.detailsCard.main-accordian-form{padding:1rem 2rem!important;}
.card-header{padding:.75rem 2rem;}
.disbled label, .disbled .typingHint{color:#3e3e3e!important}
.disbled{opacity:.5;}
.image-add{padding:10px;text-align:center;height:180px;display:flex;align-items:center;justify-content:center;background:#fafafa;margin:10px 0;border-radius:5.4px;border:dotted 1.1px #2ec4b6;width:100%;}
.image-add:hover{background:rgba(213, 243, 240, 0.2784313725490196);}
.switch{position:relative;display:inline-block;width:39px;height:22px;margin-bottom:0;}
.switch input{opacity:0;width:0;height:0;}
.slider{position:absolute;cursor:pointer;top:0;left:0;right:0;bottom:0;border:1px solid #979797;-webkit-transition:.4s;transition:.4s;}
.slider:before{position:absolute;content:"";height:15px;width:15px;left:4px;bottom:2.5px;background-color:#02a89a;-webkit-transition:.4s;transition:.4s;}
input:focus + .slider{box-shadow:0 0 1px #2196F3;}
input:checked + .slider:before{-webkit-transform:translateX(14px);-ms-transform:translateX(14px);transform:translateX(14px);}
.slider.round{border-radius:34px;}
.slider.round:before{border-radius:50%;}
.btn.whiteBtn.whiteBorder, .btn.whiteBtn.whiteBorder:hover{border-color:#979797!important;color:#545252!important;}
.radio input{position:absolute;opacity:0;cursor:pointer;}
.checkmark-radio{position:absolute;top:5px;left:0;height:16px;width:16px;border-radius:50%;border:1px solid #ccc;}
.checkmark-radio:after{content:"";position:absolute;display:none;}
.radio input:checked ~ .checkmark-radio:after{display:block;}
.radio .checkmark-radio:after{top:3px;left:3px;width:8px;height:8px;border-radius:50%;background:#02a89a;}
textarea.form-control{height:auto!important;}
.form-group.mb-4.locationTxt.position-absolute{bottom:0;}
.uploade.p-2{text-align:center;border:1px solid #cacaca;border-radius:5px;}
.main-box{background:#fafafa;border:1px dotted #2ec4b6;border-radius:5px;padding:20px 5px;}
.progress{height:.5em;}
.progress-bar{background:#02a89a;}
img.closre{position:absolute;right:-5px;top:5em;}
@media screen and (min-width:1500px) and (max-width:2000px){.card-body.detailsCard.main-accordian-form .col-md-4{padding:0 10px 0 10px!important;}
.typingHint{font-size:13px;}
.card-body.detailsCard.main-accordian-form{padding:1rem 1.5rem!important;}
}
@media screen and (max-width:800px){
.full-width-col, .pro-ids, .pro-info{flex: 0 0 100%;max-width: 100%;}
.product-edit-head{display: block;}
.row.pr-3,.row.pl-3{padding:0!important}
.form-group.mb-4.locationTxt.position-absolute {position: relative!important;padding: 0 15px;}
}
