// Styling for the navbar
#mainNav {
  background: $white;

  .navbar-toggler {
    font-size: 12px;
    right: 0;
    padding: 13px;
    text-transform: uppercase;
    color: $black;
    border: 0;
    background-color: $white;
    @include heading-font;
  }

  .navbar-brand {
    color: $black;
    @include script-font;

    &.active,
    &:active,
    &:focus,
    &:hover {
      color: darken($swift-primary, 10%);
    }
  }

  .navbar-nav {
    .nav-item {
      .nav-link {
        font-size: 90%;
        font-weight: 400;
        padding: 0.75em 0;
        letter-spacing: 1px;
        @include heading-font;

        &.active,
        &:hover {
          color: $gray-900;
        }
      }
    }
  }
}

@media(min-width:992px) {
  #mainNav {
    border: none;
    ;

    .navbar-brand {
      font-size: 1.75em;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;
    }

    &.navbar-shrink {
      padding-top: 0;
      padding-bottom: 0;
      background-color: $gray-900;

      .navbar-brand {
        font-size: 1.25em;
        padding: 12px 0;
      }
    }
  }
}
