.imag {
    width: 200px;
  }
  
  .welcome-msg {
    font-size: 17px;
  }
  
  .text-danger {
    font-size: 12px;
  }
  
  .sign-in {
    font-size: 12px;
  }
  
  .seller-container{
    width: 35%;
  }

  .fs-30 {
    font-size: 16px;
  }
  .sortable {
    cursor: pointer;
}
  /*new CSS */
  .w-60 {
    width: 60%!important
  }
  